.headerContainer {
  img {
    width: 10rem;
    height: 10rem;
  }

  border: 1px solid #fff;
  border-radius: 1px;
  height: 10rem;
  background: rgb(114, 137, 168);
  margin-bottom: 2rem;

  button {
    font-size: 1.1rem;
    color: rgb(71, 71, 71);
    white-space: nowrap;
    border: none;
    background: none;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.2s filter;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      filter: brightness(0.5);
      text-decoration: underline;
    }
  }

  @media (max-width: 480px) {
    button {
      font-size: 1rem;
      margin-right: 1rem;
    }
  }
}
